
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}


.preview-img {
    width: 150px; 
    height: 100px;
    object-fit: cover; 
    border-radius: 8px;
    border: 2px solid #0076ff;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.car-card-img {
    width: 100%;
    max-width: 300px; 
    height: 200px;
    object-fit: contain; 
}