body {
 padding-top: 80px; 
    display: block;
    margin: 0; /* מבטל את ה-Flex שהיה שם קודם */
}

#root {
    width: 100%;
    display: block;
}

/* הקונטיינר שעוטף את כל כרטיסי הרכבים */
.cars-grid-container {
    display: grid;
    /* יוצר עמודות ברוחב קבוע שלא יתכווצו בחיפוש */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    width: 90%;
    margin: 0 auto; /* ממרכז את הגריד במסך */
    padding: 20px;
}